/*----------------------------------------
# Sticky Testimonial
---------------------------------------*/
.sticky-post {
  position: fixed;
  -webkit-border-radius: 1rem;
  border-radius: 1rem;
  max-width: 336px;
  width: 100%;
  bottom: 15px;
  left: 15px;
  z-index: 3;
  font-size: 14px;
  color: #222;
  -webkit-box-shadow: 0px 10px 20px rgba(203, 203, 203, 0.25);
          box-shadow: 0px 10px 20px rgba(203, 203, 203, 0.25);
}

.sticky-post--inner {
  position: relative;
  -webkit-border-radius: 1rem;
          border-radius: 1rem;
  overflow: hidden;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  padding: 1rem;
}

.sticky-post--header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

.sticky-post--header-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.sticky-post--thumbnail {
  max-width: 100%;
  height: auto;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.placeholder-text-source {
  display: none;
}

.sticky-post--name {
  text-transform: capitalize;
  margin-bottom: 0;
}

.sticky-post--location {
  margin-bottom: 0;
}

.sticky-post--accordion-content {
  overflow: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.sticky-post--footer {
  position: relative;
}


.sticky-post--thumbnail,
.sticky-post--thumbnail-placeholder {
  margin-right: 1rem;
}

.sticky-post--thumbnail {
  width: 44px;
  height: 44px;
}

.sticky-post--thumbnail-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sticky-post--thumbnail-placeholder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  font-weight: 700;
}

.sticky-post--name {
  font-weight: 700;
  font-size: 18px;
}


.sticky-post--accordion-content > * {
  margin-bottom: 0;
}

.sticky-post--accordion-content * {
  font-size: 0.85rem;
  margin-bottom: auto;
  font-family: inherit;
  line-height: 1.25rem;
}

.sticky-post--footer {
  position: relative;
}

.sticky-post--accordion-button {
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: transparent;
  border: none;
  padding: 0;
  width: 20px;
  height: 20px;
}

.sticky-post--accordion-button:focus, 
.sticky-post--accordion-button:active {
  outline: none;
}

.sticky-post--accordion-button:before {
  content: '❮';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222;
  color: #fff;
  z-index: -1;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  line-height: normal;
}

.sticky-post--accordion-button.minimize {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  padding: 0;
}

.placeholder-text-value {
  text-transform: uppercase;
}

.sticky-post-rating-items {
  margin-bottom: 0;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.sticky-post-rating-items.full {
  position: absolute;
  top: 0;
  z-index: -1;
  margin-bottom: 0;
}

.sticky-post-rating-item {
  display: inline-block;
  margin-right: 0.25rem;
}

.sticky-post-rating-item:last-child {
  margin-right: 0;
}

.sticky-post-rating-items.value li {
  color:#ffc107;
}

.sticky-post--location,
.sticky-post-rating-items.full li {
  color: #999;
}

.sticky-post-rating-items li {
  font-size: 1rem;
}

.sticky-post--location {
  margin-bottom: 0;
  font-size: 12px;
}

/*----------------------------------------
# Light
---------------------------------------*/
.sticky-post--inner,
.light .sticky-post--inner {
  background-color: rgba(255, 255, 255, 0.8);
}

.sticky-post--thumbnail-placeholder,
.light.sticky-post--thumbnail-placeholder {
  background-color: #222;
}

.placeholder-text-value,
.light .placeholder-text-value {
  color: #fff;
}

.sticky-post--accordion-button:before,
.light .sticky-post--accordion-button:before {
  background-color: #222;
  color: #fff;
}

.sticky-post--name,
.sticky-post--accordion-content,
.light .sticky-post--name,
.light .sticky-post--accordion-content {
  color: #222;
}

.sticky-post--thumbnail-placeholder ,
.light .sticky-post--thumbnail-placeholder {
  background-color: #222;
}

/*----------------------------------------
# Dark
---------------------------------------*/
.dark .sticky-post--inner {
  background-color: rgba(34, 34, 34, 0.8);
}

.dark .sticky-post--thumbnail-placeholder {
  background-color: #fff;
}

.dark .placeholder-text-value {
  color: #222;
}

.dark .sticky-post--accordion-button:before {
  background-color: #fff;
  color: #222;
}

.dark .sticky-post--name,
.dark .sticky-post--accordion-content {
  color: #fff;
}

.dark .sticky-post--thumbnail-placeholder {
  background-color: #fff;
}

/*----------------------------------------
# Media Queries
---------------------------------------*/
@media (max-width: 576px) {
  .sticky-post {
    max-width: 230px;
  }

  .sticky-post--inner {
    padding: 0.65rem;
  }

  .sticky-post--thumbnail-placeholder,
  .sticky-post--thumbnail {
    width: 40px;
    height: 40px;
  }

  .sticky-post--name {
    font-size: 14px;
  }

  .sticky-post--location {
    margin-bottom: 0;
    font-size: 12px;
  }

  .sticky-post--accordion-content * {
    font-size: 12px;
  }

  .sticky-post--thumbnail, .sticky-post--thumbnail-placeholder {
    margin-right: 0.5rem;
  }
}